* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	font-family: 'Lato', sans-serif;
	min-height: 100vh;
}
.btn {
	cursor: pointer;
	padding: 5px 10px;
	color: white;
	border: none;
	border-radius: 2px;
}
.btn-feature {
	background-color: rgb(14, 126, 136);
}
.btn-danger {
	background-color: rgb(228, 64, 65);
}
